<div id="<%= dom_id article %>" class=" article-card shadow-md rounded-lg">
  <p class="mb-3">
    <div class="block font-medium mb-1 article-title"><%= article.title %></div>
  </p>
  <p class="mb-3">
    <div class="block font-medium mb-1 article-content"><%= article.content %></div>
  </p>
</div>
